frontend/Assets/Videos
frontend/Assets/Plugins
frontend/Library

backend/node_modules

frontend/.gradle

frontend/[Ll]ibrary/
frontend/[Ll]ogs/
frontend/[Uu]ser[Ss]ettings/


frontend/[Tt]emp/
frontend/[Oo]bj/
frontend/[Bb]uild/
frontend/[Bb]uilds/

frontend/[Mm]emoryCaptures/

.vscode
